PyMuPDF
pdfplumber
opencv-python-headless
pytesseract
spacy==3.7.2
scispacy==0.5.3
fuzzywuzzy
python-levenshtein
easyocr
torch
torchvision
langchain
sentence-transformers
faiss-cpu
# Web Server
Flask
python-dotenv
pandas 
# Google Gemini API
google-generativeai
openpyxl
https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.5.3/en_core_sci_sm-0.5.3.tar.gz

# Utilities
numpy==1.26.4